<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="auth-links">
            <a href="./signup.html">회원가입</a> | <a href="./login.html">로그인</a>
        </div>
        <div class="gnbw">
            <h1 class="logo">
                <a href="./main3.html" target="self">
                    <img src="./gs25.png" alt="GS_logo" width="200px" height="80px">
                </a>
            </h1>
    
        </div>
        <h1>장바구니</h1>
    </header>


    <nav>
        <ul>
            <li><a href="./product">상품 조회</a></li>
            <li><a href="./promotion_product">행사상품 조회</a></li>
            <li><a href="./save_promotion">행사상품 보관</a></li>
            <li><a href="./cart">장바구니</a></li>
            <li><a href="./mypage">마이페이지</a></li>
        </ul>
    </nav>

    <h2>장바구니 내용</h2>
    <table>
        <tr>
            <th>상품명</th>
            <th>수량</th>
            <th>가격</th>
        </tr>
    

    <footer>
        <p>편의점 웹 서비스 | &copy; 2024</p>
    </footer>
</body>
</html>



