<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="auth-links">
            <a href="./signup.html">회원가입</a> | <a href="./login.html">로그인</a>
        </div>
        <div class="gnbw">
            <h1 class="logo">
                <a href="./main">
                    <img src="./static/img/gs25.png" alt="GS_logo" width="200px" height="80px">
                </a>
            </h1>
    
        </div>
        <h1>장바구니</h1>
    </header>


    <nav>
        <ul>
            <li><a href="./product">상품 조회</a></li>
            <li><a href="./promotion_product">행사상품 조회</a></li>
            <li><a href="./save_promotion">행사상품 보관</a></li>
            <li><a href="./cart">장바구니</a></li>
            <li><a href="./mypage">마이페이지</a></li>
        </ul>
    </nav>

    <h2>장바구니 내용</h2>
    <table border="1">
        <thead>
            <tr>
                <th>상품 ID</th>
                <th>상품 이름</th>
                <th>상품 가격</th>
                <th>행사 내용</th>
                <th>행사 기간</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for cart_item in cart_items %}
            <tr>
                <td>{{ cart_item[2] }}</td>
                <td>{{ cart_item[3] }}</td>
                <td>{{ cart_item[4] }}원</td>
                <td>{{ cart_item[5] }}</td>
                <td>{{ cart_item[6] }}</td>
                <td>
                    <div style="display: flex; gap: 5px; width: 100%;">
                        <form action="/cart" method="POST" style="margin: 0; width: 50%;">
                            <input type="hidden" name="action" value="delete">
                            <input type="hidden" name="id" value="{{ cart_item[2] }}">
                            <button type="submit">삭제</button>
                        </form>
                        <form action="/cart" method="POST" style="margin: 0; width: 50%;">
                            <input type="hidden" name="action" value="save">
                            <input type="hidden" name="id" value="{{ cart_item[2] }}">
                            <input type="number" name="quantity" value="1" min="1" style="width: 50px;">
                            <button type="submit">구매</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <footer>
        <p>편의점 웹 서비스 | &copy; 2024</p>
    </footer>
</body>
</html>



