<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 조회</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="auth-links">
            <a href="./signup.html">회원가입</a> | <a href="./login.html">로그인</a>
        </div>
        <div class="gnbw">
            <h1 class="logo">
                <a href="./main">
                    <img src="./static/img/gs25.png" alt="GS_logo" width="200px" height="80px">
                </a>
            </h1>
    
        </div>
        <h1>상품 조회</h1>
    </header>

    <nav>
        <ul>
            <li><a href="./product">상품 조회</a></li>
            <li><a href="./promotion_product">행사상품 조회</a></li>
            <li><a href="./save_promotion">행사상품 보관</a></li>
            <li><a href="./cart">장바구니</a></li>
            <li><a href="./mypage">마이페이지</a></li>
        </ul>
    </nav>
    
    <div> </div>
    <h2> 마이페이지 </h2>

    <table border="1">
        <thead>
            <tr>
                <th>고객 이름</th>
                <th>고객 전화번호</th>
                <th>고객 성별</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer[1] }}</td>
                <td>{{ customer[2] }}</td>
                <td>{{ customer[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table border="1">
        <thead>
            <tr>
                <th>상품 ID</th>
                <th>결제 날짜</th>
                <th>상품 이름</th>
                <th>상품 수량</th>
                <th>결제 금액</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in payments %}
            <tr>
                <td>{{ payment[1] }}</td>
                <td>{{ payment[2] }}</td>
                <td>{{ payment[3] }}</td>
                <td>{{ payment[4] }}</td>
                <td>{{ payment[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <footer>
        <p>편의점 웹 서비스 | &copy; 2024</p>
    </footer>
</body>
</html>